@import "variables";

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
  color: $text-color;
  overflow: hidden;
  height: 100vh;
}

header {
  height: 50px;
  display: block;
  background-color: $bg-color;
  padding: $spacing-unit 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 $spacing-unit;
    display: block;
    align-items: center;
  
    .nav-bar {
      max-width: $container-width;
      margin: 0 auto;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  padding: $spacing-unit;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  .main-content {
    max-width: $container-width;
    margin: 0 auto;
  }
  .placeholdler {
    height: 600px;
  }
}

footer {
  height: 2.0rem;
  text-align: center;
  padding: 0;
  background-color: #f8f9fa;
  margin-top: 0;

  .contents {
    max-width: $container-width;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      display: inline;
  
      &.copyright {
        float: left;
      }
  
      &.contact {
        float: right;
      }
    }
  
    a {
      color: white;
      text-decoration: none;
    }

  }


} 