<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/iotcoss.svg' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%s' }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% seo %}
</head>
<body>
    <header>
        {% assign current_lang = page.lang | default: 'en' %}
        {% assign t = site.data.translations[current_lang] %}
        <nav>
            <div class="notice-badge">{{ t.nav.notice-badge }}</div>
            <div class="nav-bar">
                <div class="nav-links">
                    <a href="/{{current_lang}}#home">{{ t.nav.home }}</a>
                    <a href="/{{current_lang}}#intro-section">{{ t.nav.intro }}</a>
                    <a href="/{{current_lang}}#mission-section">{{ t.nav.mission }}</a>
                    <a href="/{{current_lang}}#award-section">{{ t.nav.award }}</a>
                    <a href="/{{current_lang}}#timeline-section">{{ t.nav.timeline }}</a>
                    <a href="/{{current_lang}}#sponsor-section">{{ t.nav.sponsor }}</a>
                    <span class="nav-divider"></span>
                    <a href="/apply/">{{ t.nav.apply }}</a>
                    <a href="https://metasejong-competition.readthedocs.io/{{ page.lang | default: 'en' }}/latest/" _target="metasejong-competition-guide">{{ t.nav.guide }}</a>
                </div>
                <div class="lang-switcher">
                    {% assign current_lang = page.lang | default: 'en' %}
                    {% if current_lang == 'ko' %}
                        <a href="{{ page.url | replace: '/ko/', '/en/' }}" class="lang-link">
                            <img src="{{ '/assets/images/en-US.svg' | relative_url }}" alt="English" class="lang-icon">
                            <span>{{ t.lang.en }}</span>
                        </a>
                    {% else %}
                        <a href="{{ page.url | replace: '/en/', '/ko/' }}" class="lang-link">
                            <img src="{{ '/assets/images/ko-KR.svg' | relative_url }}" alt="한국어" class="lang-icon">
                            <span>{{ t.lang.ko }}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-content">
            {{ content }}
            <div class="placeholdler"></div>
        </div>
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. {{ t.footer.copyright }}</p>
    </footer>
    <script>
      function handleMissionClick(stage) {
        // 모든 stage-item 요소를 숨김
        document.querySelectorAll('.stage-item').forEach(item => {
          item.style.display = 'none';
        });
        
        // 선택된 stage-item만 표시
        document.querySelector('.' + stage).style.display = 'block';
      }
    </script>
</body>
</html> 